<% @page_title = "How to use this site." %>
<% load_content %>

<div class="section">
		<div class="section_title rootcontent">How to use this site</div>
		<%= content_by_name "How To Use" %>
</div>