<% @page_title = "Terms & Conditions" %>
<% load_content %>

<div class="section">
		<div class="section_title rootcontent">Terms & Conditions</div>
		<%= content_by_name "Terms and Conditions" %>
</div>