<p><%= h(@user.login)%>,</p>

<p>Your user account on <%= $LV_SITE_NAME %> has been automatically banned due to your user reputation on the site dropping below a certain threshold. User reputation is generated using an automated algorithm that takes into account your participation on the site and the community's feedback on your contributions.</p>

<p>If you believe this ban to be in error, please e-mail us your concerns. Reinstatement will be considered on a case by case basis. Please note that we may not respond individually to every e-mail.</p>

<p>Sincerely,<br />
The <%= $LV_SITE_NAME %> team</p>