<div id="stories_stuff">
    <a class="stories_stuff rss_list" href="/rss/full"><%= image_tag "feed.png", :style => "margin-top:2px;" %> All Posts</a>
	<a class="stories_stuff rss_list" href="/rss"><%= image_tag "feed.png", :style => "margin-top:2px;" %> Discussion Topics</a>
</div>
